.form-control-input{
  border:1px solid #dedede!important;
}
.row{
  margin-bottom: 10px;
}
.left-section{
  margin-left: 62px;
}
.left-section-footer {
  margin-left:177px;
}
.left-section-footer .btn{
  margin-left:20px;
}

.sender-address, .receiver-address, .weight, .shipping-option{
  max-width:400px;
  margin:10px auto;
}

.sender-address input, .receiver-address input, .weight input, .shipping-option input{
  padding-left:5px;
  border-radius: 4px;
}

.shipping-option .col-form-label{
    padding:0;
}

.Confirm{
  max-width: 400px;
  margin: 10px auto;
  border: 1px solid #999;
  padding: 5px;
  border-radius: 4px;
}

.action-handlers{
  max-width:400px;
  margin:auto;
  text-align: center;
}

.action-handlers button{
    margin:0 10px;
    padding: 0 15px;
}